/* Common Chrome Style */

.clear {
  clear: both;
}

.dialog {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background: -webkit-radial-gradient(rgba(127, 127, 127, 0.5), rgba(127, 127, 127, 0.5) 35%, rgba(0, 0, 0, 0.7));
  bottom: 0;
  display: none;
  left: 0;
  padding: 20px;
  padding-bottom: 130px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
  font-size: 13px;
}

.page {
  -webkit-box-shadow: 0px 5px 80px #505050;
  background: white;
  border: 1px solid #BCC1D0;
  border-radius: 2px;
  padding: 0;
  position: relative;
}

.page h1 {
  display: block;
  background: -webkit-linear-gradient(white, #F8F8F8);
  border-bottom: 1px solid rgba(188, 193, 208, .5);
  font-size: 105%;
  font-weight: bold;
  padding: 10px 15px 8px 15px;
  -webkit-padding-end: 24px;
  -webkit-user-select: none;
  margin: 0;
  text-shadow: white 0 1px 2px;
}

.content-area {
  padding: 10px 15px 5px 15px;
}

.content-area p {
  padding: 5px 0;
}

.action-area {
  -webkit-box-align: center;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: end;
  border-top: 1px solid rgba(188, 193, 208, .5);
  display: -webkit-box;
  padding: 12px;
}

button {
  -webkit-border-radius: 2px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-user-select: none;
  background: -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
  border: 1px solid #AAA;
  color: #444;
  font-size: inherit;
  margin-bottom: 0px;
  min-width: 4em;
  padding: 3px 12px 3px 12px;
}

button:hover {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #EBEBEB -webkit-linear-gradient(#FEFEFE, #F8F8F8 40%, #E9E9E9);
  border-color: #999;
  color: #222;
}

button:active {
  -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: #EBEBEB -webkit-linear-gradient(#F4F4F4, #EFEFEF 40%, gainsboro);
  color: #333;
}