.shareIcon {
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 0;
  margin: 5px;
  width: 75px;
  height: 72px; 
  float: left;
}
.shareIcon input, .shareIcon  img, .shareIcon p {
  display: block;
  padding: 0;
  margin: 0;
}
.shareIcon input {
  width: 75px;
  display: none;
}
.shareIcon  img {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  padding-top: 10px;
}
.shareIcon p {
  height: 40px;
  font-size: 0.9em;
}

.shareIcon:hover, .shareIcon.checked {
  border-radius: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
}