/* Extension Options Default Style */

body {
  min-width: 800px;
  font-size: 87%;
  font-family: Arial, Helvetica, 'Helvetica Neue', Verdana, sans-serif;
  margin: 10px;
  padding: 0;
}

#header h1 {
  background: url("/img/icon48.png") 0px 30px no-repeat;
  display: inline;
  margin: 0;
  padding-bottom: 43px;
  padding-left: 55px;
  padding-top: 35px;
  font-size: 150%;
  font-weight: bold;
}

em {
  font-size: 50%;
  font-weight: normal;
}

dt {
  width: 15em;
  float: left;
  margin-top: 10px;
}

dd {
  margin-left: 16em;
  padding: .4em;
}

a {
  color: blue;
  font-size: 100%;
}

p {
  margin: 0;
  padding: 0;
}

.extension-template {
  border-bottom: 1px solid #cdcdcd;
  margin: 10px 0;
}

.extension-header {
  background: #ebeff9;
  border-top: 1px solid #b5c7de;
  padding: 3px 5px;
  font-weight: bold;
}

.extension-header span {
  font-size: 0.7em;
  color: #333;
}

.extension-options {
  background: #f4f6fc;
  border-bottom: 1px solid #edeff5;
  font-size: 85%;
  padding: 0.8em 10px;
}

.extension-options li {
  margin: 2px 0;
}
.note {
  background-color: #e0f2c0;
  border-radius: 5px;
  padding: 3px 5px;
  margin-right: 30px;
}

#buttons {
  float: right;
  text-align: right;
  padding: 10px 0px;
  position: absolute;
  right: 5px;
  bottom: 0px;
}

#header {
  margin-bottom: 1.05em;
  overflow: hidden;
  padding-left: 1.5em;
  padding-top: 1.5em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
  min-width: 960px;
}

#header p {
  padding-left: 55px;
  margin-bottom: 5px;
}

#footer {
  position: fixed;
  width: 100%;
  box-shadow: -5px -5px 5px #ebeff9;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0.03, #bebebe),
      color-stop(0.52, #bcbcbc),
      color-stop(0.76, #ccc)
  );
  bottom: 0;
  left: 0;
  float: right;
  height: 50px;
}

#main {
  margin-top: 85px;
  margin-bottom: 50px;
  overflow: hidden;
  height: 100%;
}

#info-message {
  -webkit-transition-duration: 1s;
  display: none;
  background:#FDFFBD none repeat scroll 0 0;
  border-radius: 5px;
  padding: 7px 10px;
  margin-right: 30px;
}

#credits {
  margin-left: 10px;
  font-size: 85%;
  float: left;
  line-height: 50px;
}

#button-save {
  background: -webkit-linear-gradient(#ff0000, #cc0000 40%, #ff0000);
  color: #fff;
}

.widget {
  float: right;
  width: 250px;
}